html{
	width: 80%;
	margin: auto;
}

body{
	width: auto;
	vertical-align: middle;
}

header{	
	/*justify-content: center;*/
	height: 75px;
	padding-top: 20px;
	box-shadow: 0px 2px 1px grey;
	display: inline-block;
}

#py_logo{
	position: relative;
	padding-left: 5px;
	display: inline-block;
	padding-right: 550px;
}

#header_text{
	position: relative;
	/*float: left;*/
	padding: 20px;
	margin-left: 200px;
	text-shadow: 1px black;
	color: grey;
	font:serif;
	font-size: 20;
	display: inline-block;
}


#header_navi{
	position: relative;
	vertical-align: text-bottom;
	float: right;
	background-color: white;
	overflow: hidden;
	display: inline-block;
}

#header_navi a{
	padding: 5px;
	font-size: 20;
	border-right: 1px solid grey;
	text-decoration: none;
	color:grey;
}

#header_navi a:hover{
	color: black;
}

#header_navi a:last-child{
	border: none;
}

nav{
	display: block;
	overflow: hidden;
}

#tut_navi{
	overflow: hidden;
	margin-top: 20px;
	float: left;
	padding-left: 5px;
	display: inline-block;
}

.drop_down_navi{

}


.tut_navi_buttons{
	margin: 10px;
	position: relative;
	display: inline-block;
}

.drop_down_navi_content{
	display: none;
	max-height: 0px;
	transition: max-height 1s ease-out;
}

.drop_down_navi_content a{
	float: none;
	text-align: center;
	padding: 10px 10px;
	display: block;
	text-decoration: none;
}
.drop_down_navi_content a:hover{

}
.tut_navi_buttons:hover .drop_down_navi_content{
	display:block;
	max-height: 200px;
	transition: max-height 1s ease-in;
	box-shadow: 0px 2px 1px grey;
}