nav{
	position: relative;
	vertical-align: middle;
}

nav li{
	font-size: 23;
	border-left:black 2px solid;
	float: left;
	vertical-align: middle;
	/*list-style-type: none; */
	display: inline-block;
	width:100px;
	height:50px;
	background-color: #FF0000;
	text-align: center;
}

li a:hover {
	color:white;
}

#heading {
	display: inline;
}
